@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Box sizing rules and reset*/
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	border: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"],
li {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

html {
	font-family: "Roboto", sans-serif;
	/* resetting font size to 10px makes rem math much easier*/
	font-size: 10px;
	box-sizing: border-box;
}

/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}
html,
body,
#root {
	min-height: 100vh;
}

/* #root {
	display: flex;
	flex-direction: column;
} */
P,
li {
	font-size: 1.6rem;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}
a {
	text-decoration: none;
	color: #000;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/* ########## END GLOBAL ########## */

/* ***MOBILE NAVIGATION STYLES*** */

header {
	width: 100%;
	height: 12vh;
	background: #f9f9f9;
	position: relative;
}

.mobile-menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	z-index: 10;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile-title {
	font-size: clamp(1rem, 2rem, 7rem);
	font-weight: 700;
	color: #3c6fc0;
	transition: color 250ms ease-out;
}

.white-mobile-title {
	color: white;
	font-size: clamp(1rem, 2rem, 7rem);
	font-weight: 700;
	transition: color 250ms ease-out;
}

header nav {
	position: fixed;
	background: #3c6fc0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateX(100%);
	opacity: 0;
	transition: all 300ms ease-in-out;
	overflow: hidden;
}

.nav.active {
	transform: translateX(0);
	opacity: 1;
}

.nav-links span {
	/* font-size: clamp(2rem, 2.5rem, 2.8rem); */
	font-size: 8vw;
	font-weight: 700;
	color: white;
	position: relative;
	overflow: hidden;
}

.nav-links span::after {
	content: " ";
	position: absolute;
	width: 100%;
	height: 8px;
	background: yellowgreen;
	border-radius: 5px;
	left: 50%;
	bottom: -13px;
	margin-top: 30px;
	opacity: 0;
	transition: all 500ms ease-in-out;
}

.nav-links span:hover::after {
	left: 0px;
	opacity: 1;
}

.nav-links li {
	margin-bottom: 25px;
}

.fa-bars {
	font-size: 22px;
	color: #1b1b1b;
}

.fa-times {
	font-size: 25px;
}

.white-nav {
	color: white;
	transition: color 250ms ease-out;
}

/* ***MOBILE COVID TRACKER DASHBOARD*** */

.dashboard-container {
	width: 90%;
	margin: auto;
	margin-bottom: 30px;
}

main {
	margin-bottom: 30px;
}

main h1 {
	margin: 30px 0px;
	font-size: 2.5rem;
}

.dashboard-wrapper {
	width: 100%;
	margin-bottom: 30px;
}

.dashboard-element {
	width: 100%;
	height: 200px;
	background: rgb(194, 194, 194);
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
		rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
		rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.dashboard-element__para {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 1.7rem;
}

.guidance-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.guidance-section img {
	width: 40%;
	min-width: 340px;
}

.guidance-section__text h2 {
	margin-top: 20px;
	margin-bottom: 6px;
	font-size: 2.2rem;
}

.guidance-section__text p {
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 1.7rem;
}

/* ***MOBILE FOOTER STYLES*** */

.mobile-footer-container {
	width: 100%;
	background: #f9f9f9;
	border-top: 2px solid #c4c4c4;
	padding: 5px;
}

.mobile-footer-wrapper {
	width: 90%;
	max-width: 600px;
	margin: auto;
}

.mobile-footer-logos {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile-footer-logos p {
	font-size: 2.2rem;
	font-weight: 700;
	color: #3c6fc0;
}

footer nav ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer nav ul li {
	margin-bottom: 15px;
}

.mobile-footer-nav {
	margin-bottom: 30px;
}

.mobile-footer-links a {
	font-weight: 700;
	color: rgba(0, 0, 0, 0.4);
}

.social-icons-footer {
	width: 30%;
	max-width: 200px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.social-icons-footer i {
	font-size: 2.7rem;
	color: #3c6fc0;
	cursor: pointer;
	padding-right: 3px;
}

.social-icons-footer i:active {
	transform: scale(0.8);
}

.mobile-footer-email {
	width: 100%;
	margin-bottom: 30px;
}

.mobile-footer-email p {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 20px;
}

.form {
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
}

.form input {
	padding-top: 35px;
	width: 100%;
	font-size: 1.8rem;
	background: none;
	outline: none;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	padding-bottom: 2px;
}

.form label {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	pointer-events: none;
	border-bottom: 2px solid #6a707583;
	font-size: 1.5rem;
}

.form label::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	border-bottom: 2px solid #2980b9;
	bottom: -2px;
	left: 0px;
	transform: translateX(-100%);
	transition: all 0.3s ease-in-out;
}

.content-email {
	position: absolute;
	bottom: 3px;
	left: 0px;
	transition: all 0.3s ease;
	color: #6a7075;
}

.form input:focus + .label-email .content-email,
.form input:valid + .label-email .content-email {
	transform: translateY(-130%);
	color: #3c6fc0;
	font-size: 1.8rem;
	font-weight: bold;
}

.form input:focus + .label-email::after,
.form input:valid + .label-email::after {
	transform: translateX(0%);
}

.email-btn {
	padding: 10px 30px;
	font-size: 1.6rem;
	background: #2980b9;
	color: white;
	display: block;
	margin: auto;
	cursor: pointer;
}

.email-btn:active {
	transform: scale(0.8);
}

.mobile-footer-resources {
	width: 100%;
	font-weight: 700;
	color: rgba(0, 0, 0, 0.4);
}

.mobile-footer-resources a {
	font-weight: 700;
	color: rgba(0, 0, 0, 0.4);
}

.desktop-footer {
	display: none;
}

/* ***DESKTOP MEDIA QUERIES*** */

@media only screen and (min-width: 769px) {
	header {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 9rem;
	}
	.header-container {
		width: 100%;
		max-width: 1700px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.mobile-menu {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 30%;
		position: static;
	}
	.hamburger-menu {
		display: none;
	}
	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	header nav {
		position: static;
		background: none;
		width: 100%;
		height: auto;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
		transform: translateX(0%);
		opacity: 1;
		transition: none;
		overflow: hidden;
	}
	.nav-links {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		width: 90%;
		overflow: hidden;
		padding-top: 12px;
	}
	.nav-links span {
		font-size: 2rem;
		font-weight: 700;
		color: black;
		position: relative;
		margin-bottom: 0px;
	}
	.nav-links span:hover::after {
		content: " ";
		position: absolute;
		width: 100%;
		height: 8px;
		transform: translateX(20%);
		background: yellowgreen;
		border-radius: 5px;
		overflow: hidden;
		transition: all 500ms ease-in-out;
	}
	.nav-links span:hover::after {
		transform: translateX(0%);
		left: 0px;
		opacity: 1;
	}
	/* ***DASHBOARD QUERIES*** */
	.dashboard-container {
		width: 90%;
		max-width: 1400px;
		margin: auto;
		min-height: calc(100vh - 332px);
	}
	main {
		margin-bottom: 30px;
	}
	main h1 {
		margin: 50px 0px;
		font-size: 2.5rem;
	}
	.dashboard-wrapper {
		width: 100%;
		margin-bottom: 80px;
	}
	.dashboard-element {
		width: 70%;
		height: 200px;
		margin: auto;
		background: rgb(194, 194, 194);
		border-radius: 5px;
		box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
			rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
			rgba(0, 0, 0, 0.07) 0px 16px 16px;
	}
	.dashboard-element__para {
		margin-bottom: 60px;
	}
	.guidance-section img {
		width: 40%;
		min-width: 340px;
	}
	.guidance-section__text {
		width: 60%;
		min-width: 600px;
	}
	/* ***DESKTOP FOOTER QUERIES*** */
	.desktop-footer {
		display: block;
		padding: 25px 0px;
		width: 100%;
		background: #f9f9f9;
		border-top: 2px solid #c4c4c4;
	}
	.mobile-footer-wrapper {
		display: none;
	}
	.mobile-footer-container {
		background: none;
		border-top: none;
	}
	.desktop-footer-wrapper {
		width: 90%;
		max-width: 1550px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: auto;
	}
	.desktop-left-footer {
		width: 60%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
	}
	.desktop-left-footer img + p {
		font-size: 2.2rem;
		font-weight: 700;
		color: #3c6fc0;
	}
	.desktop-footer-logos {
		display: flex;
		align-items: center;
	}
	.desktop-footer-email p {
		font-size: 2.4rem;
		text-transform: uppercase;
	}
	.desktop-form-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.desktop-form-wrapper .form {
		width: 100%;
		max-width: 600px;
		margin-right: 20px;
	}
	.desktop-right-footer {
		width: 40%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-end;
	}
	.desktop-right-footer ul {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-end;
	}
	.desktop-right-footer ul li a,
	.desktop-right-footer ul li p,
	.desktop-right-footer ul li span {
		color: rgba(0, 0, 0, 0.4);
	}
	.desktop-social-icons-footer {
		width: 100%;
		max-width: 200px;
		margin-bottom: 20px;
		display: flex;
		align-items: flex-end;
		justify-content: space-around;
	}
	.desktop-social-icons-footer i {
		font-size: 4rem;
		color: #3c6fc0;
		cursor: pointer;
	}
	.desktop-social-icons-footer i:active {
		transform: scale(0.8);
	}
}

/* increase nav links font size at 980px and above */

@media only screen and (min-width: 980px) {
	.nav-links li {
		font-size: 2.4rem;
		font-weight: 700;
	}
}
